name: Build Project

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x

            - name: Set up Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build project
              run: bun run build

            - name: Run tests
              run: bun test
